<h1>Editando Contacto</h1>

<%= render 'form', book: @book %>


<div class="row">
  <div class="col s12">
    <%= link_to 'Show', @book, class: 'waves-effect waves-light btn', style: 'color: white' %>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <%= link_to 'Back', books_path, class: 'waves-effect waves-light btn', style: 'color: white' %>
  </div>
</div>
